body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 88%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 29px;
}

.header_lf {
  display: flex;
  justify-content: space-between;
}

.header_rt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  background: no-repeat url(img/logo.svg);
  width: 55px;
  height: 55px;
  margin-right: 45px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  font: 12px/11px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  text-decoration: none;
  margin-right: 35px;
  margin-left: 0;
}

.menu__item_shop {
  margin-left: 0;
}

.menu__item_help {
  margin-right: 0;
}

.menu__item_cart {
  margin-right: 3px;
}

.menu__item_search {
  display: inline-flex;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #000;
  width: 167px;
  padding-right: 11px;
  padding-top: 6px;
}

.menu__item_search1 {
  width: 162px;
  border: none;
  outline: none;
}

.menu__item_magnifier {
  width: 14px;
  height: 14px;
  padding-bottom: 5px;
}

.menu__item_flag {
  margin: 0;
}

.banner {
  display: block;
  height: 281px;
  background: no-repeat url(img/banner.png);
  background-size: cover;
}

.banner__title {
  font: 30px/29px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin: 0 85% 12px 60px;
  padding-top: 90px;
}

.banner__button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font: 12px/11px 'Gotham Pro Medium', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 60px;
}

.arrow,
.arrow__1 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transform: translateY(-350%);
  background-color: #fff;
  width: 44px;
  height: 1px;
  margin: 0;
  padding-left: 4px;
}

.arrow::after,
.arrow__1::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  top: -2px;
  right: -1px;
  background-color: #fff;
  transform: rotate(45deg);
}

.arrow::before,
.arrow__1::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  top: 2px;
  right: -1px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow:hover {
    animation: arrow 1s linear infinite;
}

.arrow__1:hover {
  animation: arrow__1 1s linear infinite;
}

@keyframes arrow {
  0% {
       left: 0;
     }
  50% {
       left: 10px;
     }
  100% {
       left: 0;
     }
}

@keyframes arrow__1 {
  0% {
       left: 0;
     }
  50% {
       left: 10px;
     }
  100% {
       left: 0;
     }
}

.product__title {
  font: 22px/21px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 18px;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product__atlas_photo,
.product__camel_photo,
.product__mandel_photo,
.product__cloud_photo {
  width: 187px;
  height: 175px;
  margin: 1px 20px 24px 23px;
}

.product__atlas,
.product__camel,
.product__mandel,
.product__cloud {
  margin-bottom: 53px;
}

.product__atlas_title,
.product__camel_title,
.product__mandel_title,
.product__cloud_title {
  font: 12px/11px 'Gotham Pro Medium', Arial, Helvetica, Sans-serif;
  color: #000;
  margin: 0;
  padding-left: 12px;
}

.product__atlas_price,
.product__camel_price,
.product__mandel_price,
.product__cloud_price {
  font: 14px/13px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  margin: 0;
  padding-top: 8px;
  padding-left: 12px;
}

.product__assortment {
  display: flex;
  justify-content: space-between;
}

.product__separator {
  width: 1px;
  height: 100px;
  background-color: #000;
  opacity: 0.2;
  margin-top: 40px;
}

.circle {
  display: flex;
  justify-content: space-around;
  transform: translateY(50%);
}

.circle__item {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 0 4px;
}

.circle__item_grey {
  width: 7px;
  height: 7px;
  background: #c4c4c4;
  margin-right: 8px;
}

.circle__item_black {
  width: 9px;
  height: 9px;
  background: #0e1211;
  margin-right: 8px;
}

.circle__item_red {
  width: 7px;
  height: 7px;
  background: #b62e3c;
  margin-right: 8px;
}

.circle__item_yellow {
  width: 7px;
  height: 7px;
  background: #fdb431;
  margin-right: 8px;
}

.circle__item_tawny {
  width: 9px;
  height: 9px;
  background: #e29d69;
  margin-right: 8px;
}

.circle__item_brawn {
  width: 9px;
  height: 9px;
  background: #762e31;
  margin-right: 8px;
}

.circle__item_navy {
  width: 7px;
  height: 7px;
  background: #41479b;
  margin-right: 8px;
}

.circle__item_blue {
  width: 9px;
  height: 9px;
  background: #257da9;
  margin-right: 8px;
}

.main-box {
  display: flex;
  align-items: center;
  height: 494px;
  margin-bottom: 77px;
  background-color: #000;
}

.main-box__video {
  margin-top: 47px;
  margin-left: 33px;
  margin-bottom: 45px;
  margin-right: 0;
}

.main-box__transp {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  margin-left: 328px;
}

.main-box__circle {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #fff;
  margin-left: 333px;
}

.main-box__circle::before {
  position: absolute;
  content: '';
  border: 6px solid transparent;
  border-left: 9px solid rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 20px;
}

.main-box__circle:hover {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes pulse-grow {
100% {
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.main-box__right {
  width: 26%;
  height: 190px;
  margin-left: 42px;
}

.main-box__right_title {
  font: 22px/27px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin-top: 1px;
  margin-bottom: 14px;
}

.main-box__right_subtitle {
  font: 14px/17px 'Gotham Pro', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 17px;
}

.main-box__button {
  font: 12px/11px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
}

.stories__title {
  font: 22px/21px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 44px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.stories-anagoa_photo,
.stories-frontside_photo,
.stories-baekkel_photo {
  width: 307px;
  height: 147px;
}

.stories-anagoa,
.stories-frontside,
.stories-baekkel {
  width: 307px;
}

.stories-anagoa__title,
.stories-frontside__title,
.stories-baekkel__title {
  font: 18px/17px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  margin-top: 27px;
  margin-bottom: 12px;
}

.stories-anagoa__text,
.stories-frontside__text,
.stories-baekkel_text {
  font: 14px/17px 'Gotham Pro', Arial, Helvetica, Sans-serif;
  margin-top: 0;
  margin-bottom: 12px;
}

.stories-anagoa__bt,
.stories-frontside__bt,
.stories-baekkel__bt {
  display: inline-block;
  align-items: center;
}

.stories-anagoa__button,
.stories-frontside__button,
.stories-baekkel__button {
  display: inline-block;
  font: 12px/11px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  text-decoration: none;
  color: #000;
  padding-right: 6px;
}

.stories-anagoa__date,
.stories-frontside__date,
.stories-baekkel__date {
  display: inline-block;
  font: 12px/11px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  opacity: 0.3;
  margin: 0;
  padding-top: 4px;
}

.arrow__2 {
  display: inline-block;
  cursor: pointer;
  position: relative;
  transform: translateY(-350%);
  width: 28px;
  height: 1px;
  background-color: #000;
}

.arrow__2::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  top: -2px;
  right: -1px;
  background-color: #000;
  transform: rotate(45deg);
}

.arrow__2::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  top: 2px;
  right: -1px;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow__2:hover {
    animation: arrow__1 1s linear infinite;
}

@keyframes arrow__2 {
  0% {
       left: 0;
     }
  50% {
       left: 10px;
     }
  100% {
       left: 0;
     }
}

.stories-anagoa__bt_main,
.stories-frontside__bt_main,
.stories-baekkel__bt_main {
  display: flex;
  justify-content: space-between;
}

.gallery__title {
  font: 18px/17px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.3;
  margin-bottom: 11px;
}

.gallery__photo {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: center;
}

.gallery__photo_one,
.gallery__photo_two,
.gallery__photo_three,
.gallery__photo_four,
.gallery__photo_five,
.gallery__photo_six,
.gallery__photo_seven {
  width: 147px;
}

.gallery__photo_eight {
  display: none;
}

.footer {
  background: #000;
  height: 296px;
}

.footer-account_mn {
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin: 0 auto;
  margin-bottom: 53px;
  padding-top: 57px;
}

.footer-account,
.footer-service,
.footer-miscellaneous,
.footer-newsletter {
  display: inline-block;
  width: 180px;
}

.footer-account__title,
.footer-service__title,
.footer-miscellaneous__title,
.footer-newsletter__title {
  font: 12px/11px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
}

.footer-account__title {
  padding-left: 7px;
  margin-bottom: 6px;
}

.footer-service__title {
  padding-left: 5px;
  margin-bottom: 7px;
}

.footer-miscellaneous__title {
  padding-left: 4px;
  margin-bottom: 6px;
}

.footer-newsletter__title {
  padding-left: 3px;
  margin-bottom: 6px;
}

.footer-newsletter__subtitle {
  margin: 0;
  padding-bottom: 13px;
  padding-left: 3px;
}

.menu-account {
  margin: 0;
  padding-left: 7px;
}

.menu-service {
  margin: 0;
  padding-left: 6px;
}

.menu-miscellaneous {
  margin: 0;
  padding-left: 4px;
}

.menu-account__item,
.menu-service__item,
.menu-miscellaneous__item,
.menu-newsletter__wrap,
.footer-newsletter__subtitle {
  font: 12px/11px 'Gotham Pro', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.footer-newsletter__button {
  display: block;
  cursor: pointer;
  width: 137px;
  margin-left: 3px;
  margin-bottom: 34px;
  padding: 9px 30px 7px 29px;
  background: #000;
  border: solid 2px #fff;
  font: 10px/10px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
}

.footer-newsletter__button:hover {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes pulse-grow {
100% {
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 147px;
}

.social__item_fb {
  padding-left: 3px;
}

.social__item_tw {
  padding-right: 0;
  padding-top: 1px;
}

.social__item_ig {
  padding-left: 0;
}

.social__item_pt {
  padding-right: 7px;
  padding-top: 1px;
}

.footer__text {
  margin-top: 0;
  margin-bottom: 33px;
  padding-right: 5px;
  font: 12px/11px 'Gotham Pro', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-align: center;
}

.menu__item:hover,
.banner__button:hover,
.main-box__button:hover,
.stories-anagoa__button:hover,
.stories-frontside__button:hover,
.stories-baekkel__button:hover,
.footer-newsletter__button:hover {
  opacity: 0.5;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 91%;
  }

  .header {
    margin-top: 31px;
    margin-bottom: 43px;
  }

  .logo {
    background: no-repeat url(img/logo_1024.svg);
    width: 61px;
    margin-right: 31px;
  }

  .menu__item {
    margin-right: 27px;
  }

  .menu__item_news {
    padding-left: 7px;
  }

  .menu__item_team {
    padding-left: 8px;
  }

  .menu__item_legacy {
    padding-left: 9px;
  }

  .menu__item_help {
    padding-left: 8px;
    margin-right: 0;
  }

  .menu__item_search {
    width: 160px;
    margin-right: 33px;
    padding-top: 5px;
  }

  .menu__item_search1 {
    width: 160px;
  }

  .menu__item_magnifier {
    width: 12px;
    padding-top: 3px;
  }

  .menu__item_flag {
    margin-right: 0;
  }

  .menu__item_cart {
    margin-right: 3px;
  }

  .banner {
    height: 254px;
  }

  .banner__title {
    padding-top: 76px;
    margin-left: 55px;
    margin-bottom: 6px;
  }

  .banner__button {
    margin-left: 55px;
    padding-right: 8px;
  }

  .product__title {
    margin-top: 64px;
    margin-bottom: 22px;
  }

  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 171px;
    height: 163px;
    margin: 2px 16px 30px 20px;
  }

  .product__camel_title {
    padding-left: 10px;
  }

  .product__mandel_title,
  .product__cloud_title {
    padding-left: 9px;
  }

  .product__camel_price {
    padding-left: 11px;
  }

  .product__cloud_price,
  .product__mandel_price  {
    padding-left: 9px;
  }

  .circle__item_grey {
    width: 6px;
    height: 8px;
    margin-right: 4px;
  }

  .circle__item_black {
    margin-right: 4px;
  }

  .circle__item_red {
    width: 6px;
    height: 8px;
    margin-right: 7px;
  }

  .circle__item_yellow {
    width: 6px;
    height: 8px;
  }

  .circle__item_tawny {
    margin-right: 6px;
  }

  .circle__item_brawn {
    margin-right: 6px;
  }

  .circle__item_navy {
    height: 8px;
  }

  .product__atlas,
  .product__camel,
  .product__mandel,
  .product__cloud {
    margin-bottom: 79px;
  }

  .main-box {
    height: 442px;
    margin-bottom: 92px;
  }

  .main-box__video {
    width: 62%;
    margin-top: 45px;
    margin-left: 31px;
  }

  .main-box__circle {
    width: 42px;
    height: 41px;
    margin-left: 300px;
  }
  .main-box__transp {
    width: 54px;
    height: 51px;
    margin-left: 294px;
  }

  .main-box__right {
    width: 27%;
    margin-left: 39px;
  }

  .main-box__right_title {
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .main-box__right_subtitle {
    font: 13px/16px 'Gotham Pro', Arial, Helvetica, Sans-serif;
    margin-bottom: 12px;
    margin-top: 0;
    padding-left: 1px;
  }

  .main-box__button {
    padding-right: 10px;
  }

  .stories {
    margin-bottom: 87px;
  }

  .stories-anagoa,
  .stories-frontside,
  .stories-baekkel {
    width: 278px;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo,
  .stories-baekkel_photo {
    width: 278px;
  }

  .stories-anagoa__title,
  .stories-frontside__title {
    padding-left: 1px;
    margin-bottom: 11px;
  }

  .stories-baekkel__title {
    margin-bottom: 11px;
  }

  .stories-anagoa__text,
  .stories-frontside__text {
    font: 13px/16px 'Gotham Pro', Arial, Helvetica, Sans-serif;
    margin-bottom: 19px;
    padding-left: 1px;
  }

  .stories-baekkel_text {
    font: 13px/16px 'Gotham Pro', Arial, Helvetica, Sans-serif;
    margin-bottom: 19px;
  }

  .stories-anagoa__button,
  .stories-frontside__button {
    padding-left: 1px;
  }

  .arrow__2 {
    width: 15px;
  }

  .gallery__photo {
    margin-bottom: 47px;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 133px;
  }

  .footer-account_mn {
    width: 77%;
    padding-top: 57px;
  }

  .footer-account__title {
    padding-left: 9px;
  }

  .menu-account {
    padding-left: 9px;
  }

  .footer-service__title {
    padding-left: 6px;
  }

  .footer-newsletter__title {
    padding-left: 1px;
  }

  .footer-newsletter__subtitle {
    padding-left: 1px;
  }

  .footer-newsletter__button {
    margin-left: 1px;
  }

  .social__item_fb {
    padding-left: 1px;
  }

  .social__item_tw {
    padding-right: 2px;
    padding-top: 1px;
  }

  .social__item_pt {
    padding-right: 9px;
  }
}

@media (max-width: 990px) {
  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 128px;
  }
}

@media (max-width: 950px) {
  .stories-anagoa,
  .stories-frontside,
  .stories-baekkel {
    width: 262px;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo,
  .stories-baekkel_photo {
    width: 262px;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 121px;
  }

}

@media (max-width: 910px) {
  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 170px;
  }

  .stories-anagoa,
  .stories-frontside,
  .stories-baekkel {
    width: 266px;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo,
  .stories-baekkel_photo {
    width: 266px;
  }

  .main-box__circle {
    margin-left: 273px;
  }

  .main-box__transp {
    margin-left: 268px;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 117px;
  }

  .footer-account_mn {
    width: 79%;
  }
}

@media (max-width: 900px) {
  .menu__item_search {
    margin-right: 18px;
  }

  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 166px;
  }

  .stories-anagoa,
  .stories-frontside,
  .stories-baekkel {
    width: 248px;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo,
  .stories-baekkel_photo {
    width: 248px;
  }

  .stories-anagoa__text,
  .stories-frontside__text,
  .stories-baekkel_text {
    font: 11px/15px 'Gotham Pro', Arial, Helvetica, Sans-serif;
  }
}

@media (max-width: 880px) {
  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 164px;
  }

  .main-box__circle {
    margin-left: 265px;
  }

  .main-box__transp {
    margin-left: 259px;
  }

  .main-box__right_title {
    margin-top: 0;
  }

  .footer-account_mn {
    width: 81%;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 114px;
  }
}

@media (max-width: 870px) {
  .menu__item {
    font: 11px/10px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  }

  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 161px;
  }
}

@media (max-width: 860px) {
  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 157px;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 110px;
  }

  .footer-account_mn {
    width: 83%;
  }
}

@media (max-width: 840px) {
  .menu__item {
    font: 10px/10px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  }

  .main-box__right {
    margin-left: 35px;
  }

  .stories-anagoa,
  .stories-frontside,
  .stories-baekkel {
    width: 222px;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo,
  .stories-baekkel_photo {
    width: 222px;
  }

  .product__atlas_photo,
  .product__camel_photo,
  .product__mandel_photo,
  .product__cloud_photo {
    width: 152px;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 107px;
  }

  .footer-account_mn {
    width: 88%;
  }
}

@media (max-width: 770px) {
  .wrapper {
    width: 100%;
  }

  .menu,
  .header_rt {
    display: none;
  }

  .header {
    margin-top: 41px;
    margin-bottom: 39px;
  }

  .logo {
    background: no-repeat url(img/logo_768.svg);
    width: 156px;
    height: 33px;
    margin-left: 43px;
  }

  .hamburger-menu {
    display: inline-block;
    align-items: center;
    text-align: center;
    font: bold 30px/32px 'Gotham Pro Bold', arial, helvetica, sans-serif;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    align-items: center;
    top: 55px;
    right: 43px;
    width: 62px;
    height: 26px;
    z-index: 5;
  }

  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    transition: 0.5s;
    background-color: #000;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    z-index: 3;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    background: #fff;
    max-width: 100%;
    transition: left 0.5s ease-out;
  }

  .menu__item {
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #000;
    width: auto;
    padding-top: 25px;
    font: 30px/32px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .nav__box {
    padding-top: 120px;
  }

  .menu__item_shop {
    margin: 0;
  }

  .menu__item_news {
    padding-left: 0;
    margin: 0;
  }

  .menu__item_team {
    padding-left: 0;
    margin: 0;
  }

  .menu__item_legacy {
    padding-left: 0;
    margin: 0;
  }

  .menu__item_help {
    padding-left: 0;
  }

  .menu__item_sign {
    margin: 0;
  }

  .menu__item_cart {
    margin: 0:
  }

  .menu__item_circle {
    display: none;
  }

  .menu__item_flag {
    width: 57px;
    height: 57px;
  }

  .banner {
    height: 416px;
    background: no-repeat url(img/banner_768.png);
    background-size: cover;
  }

  .banner__title {
    font: 50px/48px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin: 0 75% 48px 44px;
    padding-top: 120px;
  }

  .banner__button {
    font: 20px/19px 'Gotham Pro Medium', arial, helvetica, sans-serif;
    margin-left: 44px;
    padding-right: 6px;
  }

  .arrow {
    width: 67px;
    padding-bottom: 0.6px;
  }

  .arrow::before {
    width: 11px;
    height: 2px;
    top: 4px;
    right: -3px;
    transform: rotate(-45deg);
  }

  .arrow::after {
    width: 11px;
    height: 2px;
    top: -4px;
    right: -3px;
  }

  .product__title {
    font: 30px/29px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-right: 16px;
    margin-bottom: 30px;
  }

  .product {
    display: flex;
    justify-content: space-evenly;
    height: 344px;
  }

  .product__separator,
  .product__mandel,
  .product__cloud {
    display: none;
  }

  .product__atlas_photo {
    width: 233px;
    height: 217px;
    margin: 2px 0px 28px 20px;
  }

  .product__camel_photo {
    width: 233px;
    height: 217px;
    margin: 2px 16px 28px 24px;
  }

  .product__atlas {
    width: 270px;
    padding-left: 16px;
  }

  .product__camel {
    width: 290px;
    padding-left: 11px;
  }

  .product__atlas_title {
    font: 20px/19px 'Gotham Pro Medium', arial, helvetica, sans-serif;
    padding-left: 7px;
  }

  .product__camel_title {
    font: 20px/19px 'Gotham Pro Medium', arial, helvetica, sans-serif;
    padding-left: 12px;
  }

  .product__atlas_price {
    font: 25px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-top: 17px;
    padding-left: 8px;
  }

  .product__camel_price {
    font: 25px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-top: 17px;
    padding-left: 14px;
  }

  .circle {
    transform: translateY(44%);
  }

  .circle__item_grey {
    width: 20px;
    height: 20px;
  }

  .circle__item_black {
    width: 20px;
    height: 20px;
  }

  .circle__item_red {
    width: 20px;
    height: 20px;
  }

  .circle__item_yellow {
    width: 20px;
    height: 20px;
  }

  .circle__item_tawny {
    width: 20px;
    height: 20px;
  }

  .wrapper__black {
    background: no-repeat url(img/black_fon.png);
  }

  .main-box {
    flex-direction: column-reverse;
    background: linear-gradient(-177.4deg, white 7%, black 7%);
    margin: 0;
    height: 648px;
  }

  .main-box__right {
    width: 88%;
    text-align: center;
    margin: 0;
  }

  .main-box__right_title {
    font: 30px/37px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-top: 34px;
    margin-bottom: 15px;
  }

  .main-box__right_subtitle {
    font: 20px/25px 'Gotham Pro', arial, helvetica, sans-serif;
    padding-left: 3px;
  }

  .main-box__button,
  .arrow__1 {
    display: none;
  }

  .main-box__video {
    width: 91%;
    margin: 0;
  }

  .main-box__circle {
    width: 49px;
    height: 49px;
    margin-left: 0;
    margin-bottom: 171px;
  }

  .main-box__transp {
    width: 60px;
    height: 60px;
    margin-left: 0;
    margin-bottom: 165px;
  }

  .stories__title {
    font: 30px/29px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
    padding-top: 104px;
    padding-bottom: 45px;
  }

  .stories {
    justify-content: space-evenly;
    height: 600px;
    background: #000;
    margin: 0;
  }

  .stories-anagoa_photo,
  .stories-frontside_photo {
    width: 312px;
    height: 165px;
  }

  .stories-anagoa {
    width: 312px;
    padding-right: 11px;
  }

  .stories-frontside {
    width: 313px;
  }

  .stories-baekkel {
    display: none;
  }

  .stories-anagoa__title {
    font: 25px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 28px;
    padding: 0;
  }

  .stories-frontside__title{
    font: 25px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 28px;
    padding-left: 1px;
  }


  .stories-anagoa__text {
    font: 20px/25px 'Gotham Pro', arial, helvetica, sans-serif;
    color: #fff;
    margin-bottom: 37px;
    padding-left: 0;
  }

  .stories-frontside__text {
    font: 20px/25px 'Gotham Pro', arial, helvetica, sans-serif;
    color: #fff;
    margin-bottom: 37px;
    padding-left: 1px;
  }

  .stories-anagoa__button {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #fff;
    padding-right: 9px;
    padding-left: 0px;
  }

  .stories-frontside__button {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #fff;
    padding-right: 9px;
    padding-left: 1px;
  }

  .stories-anagoa__bt_main {
    width: 332px;
  }

  .stories-frontside__bt_main {
    width: 313px;
  }

  .stories-anagoa__date,
  .stories-frontside__date {
    font: 15px/14px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #d1d1d1;
    opacity: 1;
    padding-top: 3px;
  }

  .arrow__2 {
    width: 47px;
    background-color: #fff;
    transform: translateY(-600%);
  }

  .arrow__2::after {
    width: 10px;
    height: 2px;
    top: -4px;
    right: -1px;
    background-color: #fff;
  }

  .arrow__2::before {
    width: 10px;
    height: 2px;
    top: 3px;
    right: -1px;
    background-color: #fff;
  }

  .gallery__title {
    font: 30px/29px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    color: #e8e8e8;
    background: #000;
    opacity: 1;
    margin: 0;
    padding-top: 11px;
    padding-right: 43px;
    padding-bottom: 13px;
  }

  .gallery__photo {
    width: 170px;
    display: grid;
    grid-template-columns: repeat(4, 170px);
    margin: 0 auto;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_four,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven,
  .gallery__photo_eight {
    display: inline-block;
    width: 170px;
    height: 170px;
  }

  .footer {
    height: 303px;
    margin-top: 125px;
  }

  .menu-account {
    padding-left: 24px;
  }

  .menu-service {
    padding-left: 5px;
  }

  .footer-account_mn {
    width: 93%;
    padding-top: 46px;
    margin-bottom: 71px;
  }

  .footer-account,
  .footer-service,
  .footer-miscellaneous,
  .footer-newsletter {
    width: 160px;
  }

  .footer-account__title {
    padding-left: 25px;
  }

  .footer-service__title {
    padding-left: 5px;
    padding-right: 6px;
    margin-bottom: 4px;
  }

  .footer-newsletter__title {
    padding-left: 4px;
  }

  .menu-account {
    padding-left: 25px;
  }

  .footer-service {
    padding-right: 33px;
  }

  .footer-miscellaneous {
    padding-right: 23px;
  }

  .footer-newsletter {
    padding-right: 15px;
  }

  .footer-newsletter__subtitle {
    flex-wrap: wrap;
    word-spacing: 5.5px;
    padding-left: 4px;
  }

  .footer-newsletter__button {
    margin-left: 3px;
    width: 144px;
    padding: 7px 29px 5px 29px;
    margin-bottom: 27px;
  }

  .social-icons {
    width: 133px;
  }

  .social__item_fb {
    padding-left: 4px;
  }

  .footer__text {
    padding: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media (max-width:700px) {
  .main-box {
    height: 570px;
  }

  .main-box__right {
    width: 90%;
  }

  .main-box__right_title {
    margin-top: 10px;
  }

  .stories-anagoa__text,
  .stories-frontside__text {
    font: 19px/25px 'Gotham Pro', arial, helvetica, sans-serif;
  }

  .stories-anagoa__button,
  .stories-frontside__button {
    font: 18px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
  }

  .stories-frontside {
    display: none;
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven,{
    width: 160px;
    height: 160px;
  }

  .gallery__photo_four,
  .gallery__photo_six {
    display: none;
  }

  .gallery__photo {
    width: 170px;
    grid-template-columns: repeat(3, 170px);
  }

  .footer-service {
    padding-right: 0px;
  }
}

@media (max-width: 599px) {
  .product {
    justify-content: center;
  }

  .product__camel {
    display: none;
  }

  .main-box__video {
    margin: 60px 0 0 0;
  }

  .main-box__right_title {
    margin-top: 35px;
  }
}

@media (max-width: 570px) {
  .main-box__right_title {
    margin-top: 24px;
  }

  .main-box__circle {
    width: 47px;
    height: 47px;
    margin-bottom: 127px;
  }

  .main-box__transp {
    width: 58px;
    height: 58px;
    margin-bottom: 121px;
  }
}

@media (max-width: 530px) {
  .main-box {
    height: 570px;
  }

  .main-box__right_title {
    margin-top: 25px;
  }

  .main-box__video {
    margin: 80px 0 0 0;
  }

  .main-box__circle {
    width: 47px;
    height: 47px;
    margin-bottom: 127px;
  }

  .main-box__transp {
    width: 58px;
    height: 58px;
    margin-bottom: 121px;
  }

  .gallery__photo {
    width: 160px;
    grid-template-columns: repeat(3, 160px);
  }

  .footer-account_mn {
    width: 100%;
  }
}


@media (max-width: 500px) {
  .header {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .logo {
    background: no-repeat url(img/logo_375.svg);
    width: 104px;
    height: 22px;
    margin-left: 48px;
  }

  .menu__btn {
    width: 41px;
    height: 10px;
    top: 36px;
    right: 47px;
  }

  .menu__btn > span::before,
  .menu__btn > span::after {
    height: 5px;
  }

  .menu__btn > span::after {
    top: 3px;
  }

  .banner {
    background: no-repeat url(img/banner_375.png);
    height: 191px;
    background-size: cover;
  }

  .banner__title {
    font: 20px/20px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin: 0 75% 13px 48px;
    padding-top: 64px;
  }

  .banner__button {
    font: 12px/11px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-left: 48px;
    padding-right: 4px;
  }

  .arrow {
    width: 38px;
    padding-bottom: 0px;
  }

  .arrow::after {
    width: 6px;
    height: 1px;
    top: -2px;
    right: -2px;
  }

  .arrow::before {
    width: 6px;
    height: 1px;
    top: 2px;
    right: -2px;
  }

  .product {
    justify-content: center;
    height: 282px;
  }

  .product__atlas {
    width: 305px;
    padding-left: 0;
  }

  .product__camel {
    display: none;
  }

  .product__title {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-right: 10px;
    margin-top: 36px;
    margin-bottom: 1px;
  }

  .product__atlas_photo {
    width: 164px;
    height: 156px;
    margin: 0 42px 21px 74px;
  }

  .product__atlas_title {
    font: 15px/14px 'Gotham Pro Medium', arial, helvetica, sans-serif;
    padding-left: 27px;
  }

  .product__atlas_price {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-top: 6px;
    padding-left: 28px;
  }

  .product__assortment {
    width: 303px;
  }

  .circle__item_grey,
  .circle__item_black,
  .circle__item_red,
  .circle__item_yellow {
    width: 15px;
    height: 15px;
  }

  .main-box {
    height: 393px;
  }

  .main-box__right_title {
    font: 20px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    width: 68%;
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 19px;
  }

  .main-box__right_subtitle {
    font: 14px/17px 'Gotham Pro', arial, helvetica, sans-serif;
    width: 83%;
    padding-left: 29px;
  }

  .main-box__video {
    width: 284px;
    height: 159px;
  }

  .main-box__circle {
    width: 21px;
    height: 21px;
    margin-bottom: 68px;
  }

  .main-box__circle::before {
    border: 2px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, 0.5);
    top: 8px;
    left: 10px;
  }

  .main-box__transp {
    width: 31px;
    height: 31px;
    margin-bottom: 63px;
  }

  .stories {
    height: 455px;
  }

  .stories__title {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-top: 99px;
    padding-bottom: 28px;
  }

  .stories-anagoa_photo {
    width: 279px;
    height: 148px;
    margin-left: 23px;
  }

  .stories-anagoa__title {
    font: 20px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-top: 26px;
    padding-left: 23px;
    margin-bottom: 10px;
  }

  .stories-anagoa__text {
    font: 14px/17px 'Gotham Pro', arial, helvetica, sans-serif;
    width: 279px;
    padding-left: 23px;
    margin-bottom: 23px;
  }

  .stories-anagoa__button {
    font: 12px/11px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-left: 1px;
  }

  .stories-anagoa__bt_main {
    width: 301px;
  }

  .stories-anagoa__bt {
    padding-left: 20px;
  }

  .stories-anagoa__date {
    padding-top: 2px;
  }

  .stories-frontside {
    display: none;
  }

  .arrow__2 {
    width: 40px;
    transform: translateY(-370%);
  }

  .arrow__2::before {
    width: 6px;
    top: 1px;
  }

  .arrow__2::after {
    width: 6px;
    top: -3px;
  }

  .main-box__video {
    margin: 0;
  }

  .wrapper__black {
    background: no-repeat url(img/black_fon_375.png);
    height: 1281px;
  }

  .gallery__title {
    font: 25px/24px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-top: 13px;
    padding-right: 53px;
    padding-bottom: 11px;
  }

  .gallery__photo {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    width: auto;
    background: linear-gradient(-177.4deg, black 55%, white 55%);
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 140px;
    height: 140px;
  }

  .gallery__photo_four,
  .gallery__photo_eight {
    display: none;
  }

  .gallery__photo_six {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__photo_seven {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__photo_three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer {
    height: 900px;
    margin-top: 266px;
  }

  .footer-account_mn {
    flex-direction: column;
    align-items: center;
    width: 76%;
    padding-top: 22px;
    text-align: center;
    margin-bottom: 23px;
  }

  .footer-account__title {
    font: 15px/14px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-left: 0;
    margin-bottom: 1px;
  }

  .footer-miscellaneous__title {
    font: 15px/14px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-top: 11px;
    padding-left: 4px;
    margin-bottom: 4px;
  }

  .footer-service__title {
    font: 15px/14px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-bottom: 4px;
    padding-right: 0px;
    margin-top: 16px;
  }

  .footer-newsletter__title {
    font: 15px/14px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    margin-bottom: 11px;
  }

  .footer-newsletter__subtitle {
    padding-bottom: 22px;
    word-spacing: 0.5px;
  }

  .menu-account {
    padding-left: 0;
    line-height: 24px;
  }

  .menu-account__item,
  .menu-service__item,
  .menu-miscellaneous__item,
  .menu-newsletter__wrap,
  .footer-newsletter__subtitle {
    font: 15px/14px 'Gotham Pro', arial, helvetica, sans-serif;
  }

  .footer-account {
    order: 0;
    padding-left: 0;
    padding-bottom: 34px;
  }

  .footer-miscellaneous {
    order: 1;
    padding-right: 5px;
    line-height: 20px;
    margin-bottom: 31px;
  }

  .footer-service {
    order: 2;
    width: 172px;
    line-height: 20px;
    padding-right: 7px;
    margin-bottom: 32px;
  }

  .footer-newsletter {
    order: 3;
    width: 182px;
    padding-right: 4px;
  }

  .footer-newsletter__button {
    font: 12px/11px 'Gotham Pro', arial, helvetica, sans-serif;
    width: 150px;
    margin-left: 17px;
    margin-bottom: 104px;
    padding: 11px 28px 11px 29px;
  }

  .social-icons {
    width: 180px;
    padding-left: 1px;
  }

  .facebook {
    width: 10px;
    height: 19px;
  }

  .twitter {
    width: 22px;
    height: 22px;
  }

  .instagram {
    width: 23px;
    height: 23px;
  }

  .pinterest {
    width: 22px;
    height: 22px;
  }

  .social__item_fb,
  .social__item_ig,
  .social__item_pt,
  .social__item_tw {
    display: block;
    content: "";
    width: 25px;
    height: 25px;
  }

  .social__item_fb {
    padding-left: 0;
  }

  .social__item_tw {
    padding-right: 5px;
  }

  .social__item_ig {
    padding-right: 5px;
  }

  .social__item_pt {
    padding-right: 3px;
  }

  .footer__text {
    font: 13px/12px 'Gotham Pro', arial, helvetica, sans-serif;
    padding-right: 0px;
    margin-bottom: 32px;
  }
}

@media (max-width:360px) {
  .gallery__photo {
    width: 140px;
  }

  .main-box__right_title {
    width: 79%;
    margin-left: 28px;
  }

  .main-box__right_subtitle {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 340px) {
  .logo {
    margin-left: 20px;
  }

  .menu__btn {
    right: 20px;
  }

  .banner {
    background: no-repeat url(img/banner_320.png);
    height: 191px;
  }

  .banner__title {
    margin: 0 75% 12px 20px;
    line-height: 20px;
  }

  .banner__button {
    margin-left: 20px;
  }

  .arrow {
    transform: translateY(-150%);
  }

  .product {
    height: 281px;
  }

  .product__atlas_photo {
    margin: 0 42px 21px 73px;
  }

  .wrapper__black {
    height: 1283px;
  }

  .main-box {
    height: 394px;
  }

  .main-box__right_title {
    width: 79%;
    margin-left: 28px;
    margin-top: 10px;
  }

  .main-box__right_subtitle {
    width: 98%;
    padding-left: 3px;
  }

  .stories-anagoa__title {
    padding-left: 22px;
  }

  .stories-anagoa__text {
    padding-left: 22px;
  }

  .stories-anagoa__button {
    padding-left: 0px;
  }

  .gallery__title {
    padding-right: 26px;
  }

  .gallery__photo {
    width: auto;
  }

  .footer {
    margin-top: 265px;
  }
}

@media (max-width: 315px) {
  .main-box__video {
    margin: 9px 0 0 0;
  }
}

@media (max-width: 300px) {
  .product__assortment {
    width: 230px;
  }

  .product__title {
    padding-right: 0px;
  }

  .product__atlas {
    width: 231px;
  }

  .product__atlas_title {
    padding-left: 10px;
  }

  .product__atlas_price {
    padding-left: 10px;
  }

  .product__atlas_photo {
    margin: 0 28px 21px 37px;
  }

  .main-box__video {
    width: 220px;
    height: 120px;
    margin-top: 45px;
  }

  .main-box__right_title {
    margin-left: 20px;
    margin-top: 10px;
  }

  .main-box__right_subtitle {
    width: 96%;
  }

  .main-box__circle {
    margin-bottom: 55px;
  }

  .main-box__transp {
    margin-bottom: 50px;
  }

  .stories {
    height: 375px;
  }

  .stories-anagoa__bt_main {
    width: 222px;
  }

  .stories-anagoa_photo {
    width: 200px;
    height: 100px;
    margin-left: 0;
  }

  .stories-anagoa {
    width: 207px;
    padding-left: 0;
  }

  .stories-anagoa__title {
    font: 15px/16px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-left: 7px;
  }

  .stories-anagoa__text {
    width: 225px;
    font: 12px/16px 'Gotham Pro', arial, helvetica, sans-serif;
    padding-left: 3px;
  }

  .stories-anagoa__bt {
    padding-left: 0;
  }

  .gallery__title {
    font: 17px/19px 'Gotham Pro Bold', arial, helvetica, sans-serif;
    padding-right: 7px;
  }

  .gallery__photo {
    grid-template-columns: repeat(2, 110px);
  }

  .gallery__photo_one,
  .gallery__photo_two,
  .gallery__photo_three,
  .gallery__photo_five,
  .gallery__photo_six,
  .gallery__photo_seven {
    width: 110px;
    height: 110px;
  }

  .footer {
    margin-top: 135px;
  }
}
